.inspiration {
  padding-top: 8rem;
  background-color: var(--light-color);
  .grid-container {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 333px);
    grid-template-rows: repeat(2, 240px);
    gap: 2rem;
    .horizontal {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .vertical {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 4;
    }
  }
}
